
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-home ul{
    display: flex;
    flex-direction: row;
} 
.nav-home ul li{
    padding: 20px;
    text-decoration: none;
    list-style: none;
}
.nav-home ul a{
    text-decoration: none;
    color: black;
}
.nav-search{
    display: flex;
    float: right;
}
.nav-search #login {
    color: #09B451;
    border: white;
    background-color: white;
    font-weight: 600;
    padding: 15px;
    margin: 5px;
    
}
.nav-search #register {
    background-color: #09B451;
    border: white;
    color: white;
    border-radius: 3px;
    padding: 15px 20px;
}

